<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.playball.backend.compliment.mapper.ComplimentTagMapper">

    <insert id="insertTag">
        INSERT INTO compliment_tag (compliment_id, tag)
        VALUES (#{complimentId}, #{tag})
    </insert>

    <select id="findByComplimentId" resultType="com.playball.backend.compliment.enums.ComplimentTag">
        SELECT tag FROM compliment_tag
        WHERE compliment_id = #{complimentId}
        ORDER BY compliment_tag_id
    </select>

</mapper>